{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Games</title>
</head>
<body>
    <h1>This is my homepage, homies!!</h1>
    <h2>These are my collections:</h2>
    <ul>
    {% for collection in collections %}
    <li><a href="{% url 'collection-detail' collection.pk %}">{{collection}}</a></li>
    {% endfor %}
</ul>
</body>
</html>
